.container{
    background-color: rgb(245,245,245);
}
.innerdiv1{
    display: flex;
    gap: 15px;
    font-size: small;
    margin-left: 60px;
}
.innerdiv2{
    margin-top: 15px;
    display: flex;
    gap: 15px;
    font-size: small;
    margin-left: 60px;
}
.innerdiv3{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.innerdiv3 > div{
    height: 420px;
    width: 270px;
    background-color: white;

}
.button{
    display: flex;
    margin-top: 15px;
    display: none;
}
.box:hover .button{
    display: flex;
    box-shadow: 10px;
}